
.hero {
  background-color: rgba(47, 48, 58, 0.8);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.5), rgba(47, 48, 58, 0.3)),
  url('/images/desktop/general-photo_1600.jpg;
  width: 480px;
  height: 4
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  @media screen and  (min-width: 768px){
    width: 768px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.5), rgba(47, 48, 58, 0.3)),
      url('../images/tablet/general-photo_768.jpg');
  }
  @media screen and (min-width: 1200px) {
    width: 1600px;
    max-width: 100%;
    height: 600px;
    background-size: cover;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.5), rgba(47, 48, 58, 0.3)),
      url('../images/desctop/general-photo_1600.jpg');
  }
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.5), rgba(47, 48, 58, 0.3)),
      url(../images/mobile/general-photo_480xx.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  @media screen and (min-width: 768px) {
    .hero {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.5), rgba(47, 48, 58, 0.3)),
        url(../images/tablet/general-photo_768xx.jpg);
    }
  }
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  @media screen and (min-width: 1200px) {
    .hero {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.5), rgba(47, 48, 58, 0.3)),
        url(../images/desctop/general-photo_1600xx.jpg);
    }
  }
}

.hero__container {
  @include Hero_container (360px, auto, auto, 118px, 118px, center);


  @media screen and (min-width: 1200px) {
    width: 696px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero__title {
  text-transform: uppercase;
  @include hero__title ( 30px, 900, 0.06em, 26px, 1.62,  $MainColorWit);

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}
.hero__button {
  font-family: inherit;
  font-weight: bold;
  cursor: pointer;
  margin: 0 auto;
  display: inline-block;
  @include hero__button ( 4px, 16px, 1.875, 10px 32px,  $MainColorWit, $ActColor);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color:  $HoverColorButton;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
