
    $maincolorblack: #212121;
    $seccolor: #757575;
    $actcolor: #2196f3;
    $hovercolorbutton: #188ce8;
    $backcraundcolor: #2f303a;
    $backgraundcolor: #f5f4fa;
    $maincolorwit: #fff;
    $backgroundportfolio: #e5e5e5;
    $footeradress: rgba(255, 255, 255, 0.6);
    $timingfunction: cubic-bezier(0.4, 0, 0.2, 1);
    $MainColorBlack: #212121;
    $SecColor: #757575;
    $ActColor: #2196f3;
    $HoverColorButton: #188ce8;
    $BackcraundColor: #2f303a;
    $BackgraundColorSecond: #f5f4fa;
    $MainColorWit: #fff;
    $BackgroundPortfolio: #e5e5e5;
    $FooterAdress: rgba(255, 255, 255, 0.6);
    $DelayFunction: cubic-bezier(0.4, 0, 0.2, 1);

